<main class="container">
    @if (fs.mainDirHandle()) {
    <div class="input-container">
        <mat-form-field appearance="outline">
            <mat-label>Directory Name</mat-label>
            <input required matInput placeholder="Create Directory" [formControl]="dirName" />
        </mat-form-field>
        <button (click)="create()" [disabled]="dirName.invalid" matButton="tonal">
            <mat-icon fontIcon="create_new_folder"></mat-icon>
            Create</button>
    </div>

    <h3>Directories</h3>
    @for (dir of fs.directories(); track dir.name) {
    <div class="list-dir">
        <a [routerLink]="['/folder', slugify(dir.name)]" style="width: 100%; justify-content: start;"
            matButton="filled">
            <mat-icon fontIcon="folder"></mat-icon>
            {{dir.name}}</a>
        <button matMiniFab (click)="takePhoto(dir)">
            <mat-icon fontIcon="photo_camera"></mat-icon>
        </button>
    </div>

    } @empty {
    <h2 style="font-weight: 600;">No directories found. Create one!</h2>
    }
    } @else {
    <h2 style="font-weight: 600;">Please select a main directory.</h2>
    }
</main>