<main class="container">
    <h2>{{folderName}}</h2>

    @if (files.length > 0) {
    <div class="image-grid">
        @for (file of files; track file.name) {
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <img loading="lazy" (click)="openImageModal(file)" [src]="imageToUrl(file)" [alt]="file.name"
                class="image" />
            <p>{{file.name}}</p>
        </div>
        }
    </div>
    } @else {
    <h3>No images found in this folder</h3>
    }

    @if (selectedImage) {
    <div class="modal" (click)="closeImageModal()">
        <img [src]="selectedImage" style="max-width: 90vw; max-height: 90vh;" />
    </div>
    }

</main>